body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.clock-container{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/backgrounds/jonathan-kim-46gkGRZhiXk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}


.clock{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    
}

#clock-display{
    box-shadow: 0 0.3px 0.7px rgb(0 0 0 / 13%), 0 0.9px 1.7px rgb(43 237 5), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  transition: 0.5s ease;
    padding: 6px 35px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 6em;
    font-weight: bold;
    color: white; 
}

.calendar{
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgb(83 243 0 / 67%) -1px 3px 55px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 10px;
}
.calendar .month{
    background-color: rgb(255 0 0);
    width: 100%;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.calendar .day{
    color: gray;
    padding: 12px;
    font-size: 15px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    
}

.calendar .date{
    font-size: 3em;
    font-weight: bold;
    padding: 15px;
}
.calendar .year{
    color: gray;
    padding: 12px;
    font-size: 15px;

}
.stop-watch{
    margin-top: 40px;
    /* border: 2px solid red; */
    
}
.stop-watch #display{
    border: 2px solid rgb(30, 255, 0);
    color: black;
    font-size: 6em;
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: whitesmoke;
    margin-bottom: 5px;

}
@media  screen and (max-width:900px) {
    #clock-display{
        font-size: 5em;
    }

    
    .stop-watch #display{
        font-size: 4em;
        padding: 0.6rem 1.5rem;
        margin-top: 15px;
    }
}



.stop-watch .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button{
    padding: 6px 8px;
    cursor: pointer;
    font-size: 1.1em;
}
button:hover{
    color: white;
    background: black;
    border: 1ps solid white;
}

#clock-display span{
    font-size: 15px;
}

@media screen and (max-width:650px){
    #clock-display{
        font-size: 3em;
    }

    .calendar{
        width: 200px;
    }
    .calendar .month{

    padding: 10px;
    font-size: 25px;
}

.calendar .day{
    color: gray;
    padding: 8px;
    font-size: 15px;
}

.calendar .date{
    font-size: 2em;
    font-weight: bold;
    padding: 0;
}
.calendar .year{
    color: gray;
    padding: 12px;
    font-size: 15px;

}
    
    .stop-watch #display{
        font-size: 2em;
        
    }
    button{
    margin-bottom: 10px;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 1em; 
    }

}